{% extends 'base.html.twig' %}

{% block body %}

{#<body style="
    background-image: linear-gradient(rgba(37, 179, 44, 0.65),rgba(31, 125, 148, 0.65)),url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;">#}
    <h1>Inscription sur le site</h1>

    {{ form_start(form) }}

    {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur ...'}}) }}
    {{ form_row(form.email, {'label': 'Adresse email', 'attr': {'placeholder': 'Adresse email ...'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe !'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Répétez votre mot de passe'}}) }}
    
    <button type="submit" class="btn btn-success">Inscripton !</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

        <script src="jquery/jquery.min.js"></script>
       <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        
        {% endblock %}