{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

{# <body style="
    background-image: linear-gradient(rgba(37, 179, 44, 0.65),rgba(31, 125, 148, 0.65)),url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;">
#}
<div class="container-fluid" style="
    background-color: white;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;">
<div id="bloglist" 
<section class="articles">

    {% for article in articles %}

    
        <article>
        <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
            <h2>{{ article.title }}</h2>
            <span class="section-heading-upper">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie {{ article.category.title }}</div>
            <div class="content">
                <img src="{{ article.image }}" alt "">
                {{ article.content | raw }}
                <a href="{{ path('blog_show', {'id': article.id }) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    {% endfor %}

</section>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}
