<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href= "{{ url('home') }}bootstrap/css/bootstrap.min.css">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
        
        {% endblock %}

        
    </head>
    
    <body>
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav" style="
    background: linear-gradient(-54deg, #49cd52 50%, rgb(21, 208, 198) 35%);">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"> <img src="{{ url('home') }}img/logo PYP.png" style="height: 100px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ path('home') }}">ACCUEIL
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ path('blog') }}">EVENEMENTS  </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ path('blog_create') }}">Creation d'article</a>
          </li>
          <li class="nav-item px-lg-4">
           {% if not app.user %}
                    <li class="nav-item">
                        <a href="{{ path('security_login') }}" class="nav-link">Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('security_logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                {% endif %}
        </ul>
         
      </div>
    </div>
  </nav>




        

        
        <div class="container-fluid">
            {% block body %}
            
            {% endblock %}
        </div>


        <script src="{{ url('home') }}jquery/jquery.min.js"></script>
       <script src="{{ url('home') }}bootstrap/js/bootstrap.min.js"></script>

       {% block javascripts %}{% endblock %}
        
    </body>
    
</html>
